# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
venv/
.env/

# Build outputs
dist/
build/
out/
target/

# IDE/project settings
.vscode/
.idea/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# C/C++
*.o
*.obj
*.exe
*.out
*.dll
*.so

# Java
*.class
*.jar
*.war
*.ear

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
*.env
